@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* Reset.css */
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
}

.principal {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal__conteudo {
    width: 615px;
}

.principal__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.principal__conteudo__titulo-destaque {
    color: #22D4FD;
}

.principal__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: normal;
    font-size: 24px;
}