@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/* Telas de dispositivos móveis pequenos (ex: smartphones) */
@media (max-width: 480px) {
    .cabecalho {
        padding: 2% 0% 0% 5%;
    }

    .cabecalho__menu {
        flex-direction: column;
        gap: 20px;
    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
    }
}

/* Telas de dispositivos móveis médios (ex: tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .cabecalho {
        padding: 2% 0% 0% 10%;
    }

    .cabecalho__menu {
        gap: 40px;
    }

    .cabecalho__menu__link {
        font-size: 1.3rem;
    }
}

/* Telas de dispositivos móveis grandes (ex: tablets maiores, dispositivos híbridos) */
@media (min-width: 769px) and (max-width: 1024px) {
    .cabecalho {
        padding: 2% 0% 0% 12%;
    }

    .cabecalho__menu {
        gap: 60px;
    }

    .cabecalho__menu__link {
        font-size: 1.4rem;
    }
}

/* Telas maiores (ex: laptops, desktops) */
@media (min-width: 1025px) {
    .cabecalho {
        padding: 2% 0% 0% 13.5%;
    }

    .cabecalho__menu {
        gap: 80px;
    }

    .cabecalho__menu__link {
        font-size: 1.5rem;
    }
}

.principal {
    padding: 5% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.principal__conteudo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.principal__conteudo__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.principal__conteudo__titulo-destaque {
    color: var(--cor-terciaria);
}

.principal__conteudo__texto {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}

/* Para dispositivos pequenos (telefones, 600px e abaixo) */
@media only screen and (max-width: 600px) {
    .principal {
        padding: 5% 10%;
        gap: 20px;
    }

    .principal__conteudo {
        width: 100%;
        gap: 20px;
    }

    .principal__conteudo__titulo,
    .principal__conteudo__texto {
        font-size: 1rem;
    }
}

/* Para dispositivos médios (tablets, 768px e acima) */
@media only screen and (min-width: 768px) {
    .principal {
        padding: 5% 15%;
        gap: 40px;
    }

    .principal__conteudo {
        width: 70%;
        gap: 30px;
    }

    .principal__conteudo__titulo {
        font-size: 1.5rem;
    }

    .principal__conteudo__texto {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 992px) {
    /* As regras já definidas para .principal e .principal__conteudo são adequadas para desktops */
}

/* Para dispositivos muito grandes (grandes desktops, 1200px e acima) */
@media only screen and (min-width: 1290px) {
    .principal {
        padding: 5% 20%;
        gap: 60px;
    }

    .principal__conteudo {
        width: 60%;
        gap: 40px;
    }
}

.principal__conteudo__botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.principal__conteudo__botoes__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.principal__conteudo__botoes__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    align-items: center;
}

.principal__conteudo__botoes__botao:hover {
    background-color: var(--cor-hover);
    padding: 4%;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 8px;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
    border-radius: 8px;
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
    border-radius: 8px;
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.principal__imagem {
    width: 40%;
    height: 110%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .principal {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .principal__conteudo {
        width: auto;
    }
}

/* Estilos para telas menores que 768px (tablets) */
@media (max-width: 768px) {
    .principal__conteudo__botoes {
        gap: 24px;
    }

    .principal__conteudo__botoes__botao {
        width: 70%;
        padding: 16px 0;
        font-size: 1.2rem;
    }

    .principal__imagem {
        width: 30%;
    }
}

/* Estilos para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    .principal__conteudo__botoes {
        gap: 16px;
    }

    .principal__conteudo__botoes__botao {
        width: 90%;
        padding: 12px 0;
        font-size: 1rem;
    }

    .principal__imagem {
        width: 60%;
        justify-self: center;
    }

    .rodape {
        font-size: 1.2rem;
    }
}

.certificados-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.certificado {
    flex-basis: calc(50% - 16px);
    /* Subtrai o gap para que dois botões caibam na mesma linha */
    box-sizing: border-box;
    /* Garante que a borda e o padding estejam incluídos na largura */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    align-items: center;
}

/* Para dispositivos pequenos (telefones, 600px e abaixo) */
@media only screen and (max-width: 600px) {
    .certificado {
        flex-basis: calc(50% - 16px);
        /* Faz com que cada botão ocupe a largura inteira */
    }

    .certificado img {
        width: 30px;
        height: 30px;
    }
}

/* Para dispositivos médios (tablets, 768px e acima) */
@media only screen and (min-width: 768px) {
    .certificado {
        flex-basis: calc(50% - 16px);
        /* Ajusta para dois botões por linha */
    }
}

/* Para dispositivos grandes (desktops, 992px e acima) */
@media only screen and (min-width: 992px) {
    .certificado {
        flex-basis: calc(50% - 16px);
        /* Se desejar três botões por linha em telas maiores */
    }
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

article {
    flex: 1 1 calc(50% - 16px);
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background-color: var(--cor-hover);
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Krona One", sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
    color: var(--cor-terciaria);
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-terciaria);
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-text-space-gallery {
    font-size: 1.9rem;
    background: linear-gradient(-45deg, #1A6DFF, #C822FF, #6DC7FF, #E6ABFF);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

.gradient-text-tarefacil {
    font-size: 1.9rem;
    background: linear-gradient(-45deg, #365E32, #81A263, #E7D37F, #FD9B63);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

.gradient-text-xadrez {
    font-size: 1.9rem;
    background: linear-gradient(-45deg, #26355D, #AF47D2, #FF8F00, #FFDB00);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
    color: transparent;
}

@media (max-width: 1199px) {
    .gradient-text-space-gallery {
        font-size: 1.9rem;
    }

    .gradient-text-tarefacil {
        font-size: 1.9rem;
    }

    .gradient-text-xadrez {
        font-size: 1.9rem;
    }
}

@media (max-width: 991px) {
    .gradient-text-space-gallery {
        font-size: 1.5rem;
    }

    .gradient-text-tarefacil {
        font-size: 1.5rem;
    }

    .gradient-text-xadrez {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .gradient-text-space-gallery {
        font-size: 1.2rem;
    }

    .gradient-text-tarefacil {
        font-size: 1.2rem;
    }

    .gradient-text-xadrez {
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    .gradient-text-space-gallery {
        font-size: 1rem;
    }

    .gradient-text-tarefacil {
        font-size: 1rem;
    }

    .gradient-text-xadrez {
        font-size: 1rem;
    }
}