@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Reset.css */
* {
    margin: 0px;
    padding: 0px;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #FFFFFF;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    font-style: normal;
    text-decoration: none;
}

.principal {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal__conteudo {
    width: 615px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.principal__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.principal__conteudo__titulo-destaque {
    color: var(--cor-terciaria);
}

.principal__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: normal;
    font-size: 24px;
}

.principal__conteudo__botoes {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.principal__conteudo__botoes__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.principal__conteudo__botoes__botao {
    font-family: var(--fonte-secundaria);
    /* background-color: var(--cor-terciaria); */
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.principal__conteudo__botoes__botao:hover {
    background-color: var(--cor-hover);
    padding: 4%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding: 24px;
}